{% extends 'base.html' %}

{% block content %}

<h1 class="text-3xl font-bold mb-6">🛒 Your Cart</h1>

<div class="space-y-4">

{% for item in items %}

<div class="glass p-4 rounded flex justify-between items-center">

    <div>
        <h2 class="text-xl">{{ item.product.name }}</h2>
        <p>₹{{ item.product.price }}</p>
        <p>Qty: {{ item.quantity }}</p>
    </div>

    <p class="text-blue-400 font-bold">
        ₹{{ item.total_price }}
    </p>

</div>

{% endfor %}

</div>

<div class="mt-6 text-right">
    <h2 class="text-2xl">Total: ₹{{ total }}</h2>

    <a href="/checkout/">
        <button class="bg-green-500 px-6 py-2 mt-2 rounded hover:bg-green-600">
            Checkout
        </button>
    </a>
</div>

{% endblock %}